.footer
{
    background: #607D8B;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.amount
{
    font-size: 17px;
    padding: 13px;
}

.footerIcons
{
    font-size: 17px;
    padding: 13px;
    text-align: right;
}


